<div class="selectCategoryContainer" *ngIf="this.view == false">
    <div class="section">
        <div class="chestSection card" (click)="changeView('chest')">
            <img src='assets/chestDayIcon.png' alt="">
        </div>
        <div class="legSection card" (click)="changeView('leg')">
            <img src='assets/legDayIcon.png' alt="">
        </div>
    </div>
    
    <div class="section">
        <div class="backSection card" (click)="changeView('back')">
            <img src='assets/backDayIcon.png' alt="">
        </div>
        <div class="shoulderSection card" (click)="changeView('shoulders')">
            <img src='assets/shouldersDayIcon.png' alt="">
        </div>
    </div>
</div>

<div class="selectExerciceContainer" *ngIf="this.view">
    <div class="nav">
        <div class="container">
            <div class="backButton" (click)="changeView('')">
                <img src="assets/arrow.png" alt="">
            </div>
        </div>        
        <h2 class="container">Select your "CHEST" exercice!</h2>
        <div class="container"></div>
    </div>
    <div class="exercicesSection">
        <div class="exercice" *ngFor="let i of this.getArrayExercice()" (click)="returnNameExercice(i)">
            <img src="{{baseImageURL}}{{i}}.png" alt="">
            <p>{{i}}</p>
        </div>
    </div>
</div>

<!-- <div class="setAndRepContainer">
    <div class="nav">
        <div class="container">
            <div class="backButton">
                <img src="assets/arrow.png" alt="">
            </div>
        </div>        
        <h2>Sets and repetitions will you do?</h2>
        <div class="container"></div>
    </div>

    <div class="exerciceSection">
        <div class="exerciceCard">
            <img src="assets/Press de banca inclinado.png" alt="">
            <p>Press de banca inclinado</p>
        </div>
        <div class="setsSection">
            <input class="setInput" type="text">
            <p>x</p>
            <input class="setInput" type="text">
        </div>
    </div>

    <div class="buttonSection">
        <div class="buttonFinish">
            <p>Finish</p>
        </div>
    </div>
</div> -->

