<div class="parentDiv" *ngIf="this.view == false">
    <div class="section">
        <div class="chestSection card" (click)="changeView()">
            <img src='assets/chestDayIcon.png' alt="">
        </div>
        <div class="legSection card" (click)="changeView()">
            <img src='assets/legDayIcon.png' alt="">
        </div>
    </div>
    
    <div class="section">
        <div class="backSection card" (click)="changeView()">
            <img src='assets/backDayIcon.png' alt="">
        </div>
        <div class="shoulderSection card" (click)="changeView()">
            <img src='assets/shouldersDayIcon.png' alt="">
        </div>
    </div>
</div>

<div class="parentDiv2" *ngIf="this.view">
    <div class="nav">
        <div class="container">
            <div class="backButton" (click)="changeView()">
                <img src="assets/arrow.png" alt="">
            </div>
        </div>        
        <h2 class="container">Select your "CHEST" exercice!</h2>
        <div class="container"></div>
    </div>
    <div class="exercicesSection">
        <div class="exercice" *ngFor="let i of [1, 2, 3, 4, 5, 6, 6, 8]">
            <img src="assets/pressBanca.png" alt="">
            <p>Press madafaking banca</p>
        </div>
    </div>
</div>