<div class="selectCategoryContainer" *ngIf="this.categoriSelected == false">
    <div class="section">
        <div class="chestSection card" (click)="showExercicesPage('chest')">
            <img src='assets/chestDayIcon.png' alt="">
        </div>
        <div class="legSection card" (click)="showExercicesPage('leg')">
            <img src='assets/legDayIcon.png' alt="">
        </div>
    </div>
    
    <div class="section">
        <div class="backSection card" (click)="showExercicesPage('back')">
            <img src='assets/backDayIcon.png' alt="">
        </div>
        <div class="shoulderSection card" (click)="showExercicesPage('shoulders')">
            <img src='assets/shouldersDayIcon.png' alt="">
        </div>
    </div>
</div>

<div class="selectExerciceContainer" *ngIf="this.categoriSelected && this.exerciceSelected == false">
    <div class="nav">
        <div class="container">
            <div class="backButton" (click)="showExercicesPage('')">
                <img src="assets/arrow.png" alt="">
            </div>
        </div>        
        <h2 class="container">Select your "CHEST" exercice!</h2>
        <div class="container"></div>
    </div>
    <div class="exercicesSection">
        <div class="exercice" *ngFor="let i of this.getArrayExercice()" (click)="showSetsPage(i)">
            <img src="{{baseImageURL}}{{i}}.png" alt="">
            <p>{{i}}</p>
        </div>
    </div>
</div>

<div class="setAndRepContainer" *ngIf="this.categoriSelected && this.exerciceSelected">
    <div class="nav">
        <div class="container">
            <div class="backButton" (click)="showSetsPage('')">
                <img src="assets/arrow.png" alt="">
            </div>
        </div>        
        <h2>Sets and repetitions will you do?</h2>
        <div class="container"></div>
    </div>

    <div class="exerciceSection">
        <div class="exerciceCard">
            <img src="{{baseImageURL}}{{nameExercice}}.png" alt="">
            <p>Press de banca inclinado</p>
        </div>
        <div class="setsSection">
            <input [(ngModel)]="setsNumber" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" class="setInput" type="text" placeholder="0">
            <p>x</p>
            <input [(ngModel)]="repsNumber" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" class="setInput" type="text" placeholder="0">
        </div>
    </div>

    <div class="buttonSection">
        <div class="buttonFinish" (click)="returnNameExercice()" >
            <p>Finish</p>
        </div>
    </div>
</div>

