<div class="parentDiv">
    <div class="navBar">
        <div class="container"></div>
        <div class="title container">ROUTINES APP</div>
        <div class="account container">
            <span>Àlex Càceres Hiraldo</span>
        </div>
    </div>

    <div class="contentApp">

        <div class="myRoutines">
            <div class="bar">
                <div class="buttonAddRoutine" (click)="openDialog()">+</div>
                <span class="valignCenter">My Routines</span>
            </div>

            <div class="routinesSection">
                <div class="routine" *ngFor="let routine of myRoutines" (click)="viewRoutine(routine)">
                    <div class="imgRoutine" [style.background-image]="'url(' + routine.photo  + ')'"></div>
                    <div class="info">
                        <div class="name">Name: {{routine.name}}</div>
                        <div class="days">Days: {{routine.numberDays}}</div>
                        <div class="days">Using routine: {{routine.activeRoutine}}</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="dayRoutine">

        </div>

    </div>


</div>