<div class="parentDiv">
    <div class="title">
        <h3>Edit Routine</h3>
    </div>
    <div class="section">
        <div class="imageSection">
            <div class="imageDiv">
                
            </div>
        </div>
        <div class="inputsSection">
            <div class="inputSection">
                <p>Name routine</p>
                <input class="inputs" type="text">
            </div>

            <div class="inputSection">
                <p>Description</p>
                <textarea class="textArea"></textarea>
            </div>

        </div>
    </div>
</div>