<div class="parentDiv">
    <div class="title">
        <h3>Select Your days for your Routine!</h3>
    </div>
    <div class="selectDays">
        
        <div class="sectionDay" *ngFor="let i of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']" (click)="selectedDay(i)">
            <div class="cardDay" [ngClass]="{'selectBackground': listSelectedDays.includes(i)}">
                <p *ngIf="listSelectedDays.includes(i) == false">+</p>
                <img class="imgTick" *ngIf="listSelectedDays.includes(i)" src="assets/tick.png" alt="">
            </div>
            <p class="nameDay">{{i}}</p>
        </div>
        
    </div>
    <div class="buttonSection">
        <div class="sumbitButton" (click)="closeDialog()">
            SUBMIT
        </div>
    </div>
</div>
