.parentDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    padding: 10px;
}

.title{
    text-align: center;
}

.selectDays{
    display: flex;
    justify-content: space-around;

    .sectionDay{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .cardDay{
            width: 100px;
            height: 150px;
            border: 2px dashed black;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            .imgTick{
                width: 30%;
            }
        }

        .cardDay:hover{
            cursor: pointer;
            opacity: .6;
        }

        .nameDay{
            text-align: center;
        }
    }
    

}

.buttonSection{
    display: flex;
    justify-content: flex-end;
}

.selectBackground{
    background-color: rgb(116, 235, 95);
}