<div class="parentDiv">
    <div class="navRoutine">
        <div class="sectionInfoRoutine">
            <div class="imgSection" [style.background-image]="'url(' + myRoutine.photo + ')'">

            </div>
            <div class="infoRoutine" *ngIf="myRoutine">
                <div>
                    <p class="name">{{myRoutine.name}}</p>
                </div>
                <div>
                    <p>Descripción: {{myRoutine.description}}</p>
                    <p>Days: {{myRoutine.numberDays}}</p>
                    <p>Using Routine: {{myRoutine.activeRoutine}}</p>
                </div>
                <div>
                    <p>{{myRoutine.dateCreateRoutine}}</p>
                </div>
            </div>
        </div>
        <div class="configButtonRoutine" (click)="openDialogConfigRoutine()">
            <img src="assets/settings2.png" alt="settings">
        </div>
    </div>

    <div class="myDaysSection">
        <div class="day" *ngFor="let routine of daysArray">
            <div class="navDay">
                <h3 class="nameDay">{{routine.day}}</h3>
                <div class="buttonsSection">
                    <div class="editDayButton">
                        <img src="assets/edit.png" alt="">
                    </div>
                    <div class="playRoutineButton">
                        <img src="assets/play.png" alt="">
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="exerciceSection" *ngFor="let exercice of routine.data">
                    <div class="exerciceRoutine">
                        <img src="{{baseImageURL}}{{exercice.nameExercice}}.png" alt="img">
                        <p>{{exercice.nameExercice}}</p>
                    </div>
                    <p>{{exercice.sets + " X " + exercice.reps}}</p>
                </div>
                <div class="addExercice" (click)="openDialogAddExercice(routine.day)">
                    <p class="sumIcon">+</p>
                </div>
            </div>
        </div>
    </div>
</div>