<div class="parentDiv">
    <div class="navRoutine">
        <div class="sectionInfoRoutine">
            <div class="imgSection">

            </div>
            <div class="infoRoutine">
                <div>
                    <p class="name">Rutina n18</p>
                    <p>Descripción: Hola que tal</p>
                    <p>Days: 4</p>
                </div>
                <div>
                    <p>03/12/2023</p>
                    <p>Àlex Càceres Hiraldo</p>
                </div>
            </div>
        </div>
        <div class="configButtonDiv">
            <div class="configButtonRoutine">
                <img src="assets/settings.png" alt="settings">
            </div>
        </div>
    </div>
</div>